<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.demo.setting.mapper.SettingMapper">

    <select id="selectByMemberId" resultType="com.kh.demo.setting.dto.SettingDto">
        SELECT member_id, is_stock_public, is_word_tooltip, is_light_mode
        FROM settings
        WHERE member_id = #{memberId}
    </select>

</mapper>
